SQLALCHEMY_DATABASE_URI = 'sqlite:///abmapper.sqlite'
DEBUG = False
SQLALCHEMY_RECORD_QUERIES=False
DATA_STORAGE_DIR="/full/path/to/your/aid-budget-mapper/data/"
BABEL_DEFAULT_LOCALE="en"
BABEL_DEFAULT_TIMEZONE="UTC"
FREEZER_DESTINATION_IGNORE=['.git*']
LANGUAGES = {
    "en": "English",
    "fr": "Français"
}
SECRET_KEY="YOUR-REALLY-SECRET-KEY"