Flask==0.10.1
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.7
Werkzeug==0.9.6
argparse==1.2.1
itsdangerous==0.24
lxml==3.4.0
unicodecsv==0.9.4
wsgiref==0.1.2
xlwt==0.7.5
