{% set active_page='country' %}{% extends "layout.html" %}
{% block title %}{{country.text}}{% endblock %}
{% block content %}

<script >
    $(function() {
    $("table#projects").tablesorter({ sortList: [[5,1]] });
    $("table#budget-lines").tablesorter({ sortList: [[0,0]] });
    });
</script>
<br />
<div class="pull-right">
    <a class="btn btn-success" href="{{url_for('activity_export', country_code=country.code)}}">
        <b><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Export</b>
    </a>
    {% for ro in reporting_orgs %}
    <a class="btn btn-default" href="{{url_for('activity_export', country_code=country.code, reporting_org=ro.reporting_org)}}">
        <b><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Export {{ro.reporting_org}} ({{ro.num_activities}})</b>
    </a>
    {% endfor %}
</div>
<h1>Overview</h1>
<h3>Mapping statistics</h3>
<dl class="dl-horizontal">
  <dt>Total value</dt><dd>{{stats.total_value}} (commitments, in donor's currency)</dd>
  <dt>Total projects</dt><dd>{{stats.total_projects}}</dd>
</dl>
<h3>Administrative/functional classification</h3>
<dl class="dl-horizontal">
  <dt>Before</dt><dd>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.total_mappable_before_pct}}%;">
        <span><b>{{stats.total_mappable_before_pct}}% Mappable</b></span>
      </div>
    </div>
  </dd>
  <dt>After</dt><dd>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.total_mappable_after_pct}}%;">
        <span><b>{{stats.total_mappable_after_pct}}% Mappable</b></span>
      </div>
    </div></dd>
</dl>
{% if country.budgettype %}<p class="text-muted">In {{ country.text }}, we are mapping to the {{ country.budgettype.text }} budget.</p>
{% else %}
<p class="text-muted">The budget for {{ country.text }} has not yet been mapped to the Common Code.</p>
{% endif %}
<h3>Economic classification</h3>
<dl class="dl-horizontal">
  <dt>Before</dt><dd>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.total_capital_before_pct}}%;">
        <span><b>{{stats.total_capital_before_pct}}% Capital</b></span>
      </div>
    </div>
  </dd>
  <dt>After</dt><dd>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.total_capital_after_pct}}%; min-width:3%;">
        <span><b>{{stats.total_capital_after_pct}}% Capital</b></span>
      </div>
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.total_current_after_pct}}%; max-width: 96%">
        <span><b>{{stats.total_current_after_pct}}% Current</b></span>
      </div><br />
    </div>  
    <p><span class="label label-warning">Capital</span> <span class="label label-success">Current</span></p>
  </dd>
</dl>
<p class="text-muted">Statistics restricted to C01, D01 and D02 aid types and activities in implementation and completion stage. Values are commitments, in donor's currency.</p>

<h2>Total spend to different budget lines</h2>

<div class="pull-right">
    <a href="{{url_for('country_budget_stats_csv', country_code=country.code)}}" class="btn btn-default">
        <b><span aria-hidden="true" class="glyphicon glyphicon-save"></span> CSV</b>
    </a>
</div>
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="budgetTab">
    <li role="presentation" class="active"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
    <li role="presentation"><a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">Chart</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="table">
        <table class="table" id="budget-lines">
          <thead>
            <th>Code</th>
            <th>Fonction principale</th>
            <th>Value before</th>
            <th>Value after</th>
            <th>Pct before</th>
            <th>Pct after</th>
            <th>Pct change</th>
          </thead>
          <tbody>
            {% for code, bs in budget_stats.budgets.items() %}
            <tr {% if bs.change_pct %}class="active"{% endif %}>
              <td>{{ bs.code }}</td>
              <td>{{ bs.name }}</td>
              <td>{{ bs.before.value }}</td>
              <td>{{ bs.after.value }}</td>
              <td>{{ bs.before.pct }}</td>
              <td>{{ bs.after.pct }}</td>
              <td>{{ bs.change_pct }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>
    <div role="tabpanel" class="tab-pane" id="chart">
        <form>
          <label><input type="radio" name="dataset" value="before_value" checked> Before</label>
          <label><input type="radio" name="dataset" value="after_value"> After</label>
        </form>
        <div class="budget-area">
            <div class="budget-chartbox pull-left">
                <div class="budget-chart"></div>
            </div>
            <div class="budget-infobox pull-left">
                <p id="budgetselected">Hover over a sector for details.</p>
                <dl class="dl-horizontal">
                <dt class="budgetbefore-dt">Before</dt><dd id="budgetbefore"></dd>
                <dt class="budgetafter-dt">After</dt><dd id="budgetafter"></dd>
                </dl>
            </div>
        </div>
    </div>
  </div>

</div>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{url_for('static', filename='js/budgetstats.js')}}" type="text/javascript"></script>
<script>
$('#budgetTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

{% endblock %}
