{% set active_page='activities' %}{% extends "layout.html" %}
{% block title %}Activities &raquo; {{country.text}}{% endblock %}
{% block content %}

<script >
    $(function() {
    $("table#projects").tablesorter({ sortList: [[7,1]] });
    });
</script>
<br />
<div class="pull-right">
    <a class="btn btn-success" href="{{url_for('activity_export', country_code=country.code)}}">
        <b><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exporter</b>
    </a>
    {% for ro in reporting_orgs %}
    <a class="btn btn-default" href="{{url_for('activity_export', country_code=country.code, reporting_org=ro.reporting_org)}}">
        <b><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exporter {{ro.reporting_org}} ({{ro.num_activities}})</b>
    </a>
    {% endfor %}
</div>
<h1>Projets</h1>
<table class="table" id="projects">
  <thead>
    <th>No</th>
    <th>Titre</th>
    <th class="sectors-column">Code CRS &ndash; Code commun</th>
    <th>Capital</th>
    <th>CC mappable avant</th>
    <th>CC mappable après</th>
    <th>CC mappable différence</th>
    <th>Organisme d'exécution</th>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>
        {{ project.iati_identifier }}
      </td>
      <td class="sectors-column">
        <a href="{{url_for('activities', 
                           country_code=project.recipient_country_code, 
                           iati_identifier=project.iati_identifier)}}">
        {% for title in project.titles_fr %}
        {{title.text}}<br />
        {% endfor %}</a>
      </td>
      <td class="sectors-column">
        {% for sector in project.sectors %}
        {% if not sector.deleted %}

        {% if not sector.assumed %}
        <span class="label crs-code {% if sector.dacsector.cc.id != "0" %}label-default{% else %}label-danger{% endif %}" title="{{sector.dacsector.description}} ({{sector.dacsector.code}})">
          {{sector.dacsector.description}} ({{sector.dacsector.code}})</span>
        {% else %}

        {% if sector.formersector %}
        <span class="label crs-code label-default" title="{{sector.formersector.description}} ({{sector.formersector.code}})">
          {{sector.formersector.description}} ({{sector.formersector.code}})</span>
        {% endif %}

        {% endif %}

        {% if sector.dacsector.cc.id != "0" %}
        <span class="label cc-code label-success" title="{{sector.dacsector.cc.sector}} 
 &ndash; {{sector.dacsector.cc.function}} ({{sector.dacsector.cc.id}})">
          {{sector.dacsector.cc.sector}} &ndash; {{sector.dacsector.cc.function}}
          ({{sector.dacsector.cc.id}})</span>
        {% else %}
        <span class="label cc-code label-danger">Not mappable</span>
        {% endif %}
        </p>
        <div class="clearer"></div>
        {% endif %}
        {%endfor%}
      </td>
      <td>{% if project.capital_exp is not none %}{{ project.capital_exp*100 }}%{% else %}N/A{% endif %}</td>
      <td>
        {{ project.pct_mappable_before }}
      </td>
      <td>
        {{ project.pct_mappable_after }}
      </td>
      <td>
        {{ project.pct_mappable_diff }}
      </td>
      <td>
        {% for org in project.implementing_orgs %}
        {{org.organisation.name}}<br />
        {%endfor%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
