{% set active_page='activities' %}{% extends "layout.html" %}
{% block title %}{{ _('Projects') }} &raquo; {{country.text}}{% endblock %}
{% block content %}

<script >
    $(function() {
    $("table#projects").tablesorter({ sortList: [[7,1]] });
    });
</script>
<br />
<div class="pull-right">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Export data  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="{{url_for('activity_export', country_code=country.code)}}">
          {{ _("Export all donors") }}
        </a>
      </li>
      <li role="separator" class="divider"></li>
      {% for ro in reporting_orgs %}
      <li><a href="{{url_for('activity_export', country_code=country.code, reporting_org=ro.id)}}">
        {{ _("Export") }} {{ro.text}} ({{ro.num_activities}})
      </a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<h1>{{ _('Projects') }}</h1>
<table class="table" id="projects">
  <thead>
    <th>{{ _('No') }}</th>
    <th>{{ _("Title") }}</th>
    <th width="25%">{{ _("Sectors (CRS code)") }}</th>
    <th width="15%">{{ _("Implementing org") }}</th>
    <th width="15%">{{ _('Pct to ') }}{{ country.text_EN }}</th>
    <th width="15%">{{ _('Status') }}</th>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>
        {{ project.iati_identifier }}
      </td>
      <td class="sectors-column">
        <a href="{{url_for('activities', 
                           country_code=project.recipient_country_code, 
                           iati_identifier=project.iati_identifier)}}">
        {% for title in project.titles %}
        {{title.text}}<br />
        {% endfor %}</a>
      </td>
      <td class="sectors-column">
        {% for sector in project.sectors %}
        <span class="label label-default" title="{{sector.dacsector.description}} ({{sector.dacsector.code}})">
          {{sector.dacsector.description}} ({{sector.dacsector.code}})</span>
        <div class="clearer"></div>
        {%endfor%}
      </td>
      <td>
        {% for org in project.implementing_orgs %}
        {{org.organisation.name}}<br />
        {%endfor%}
      </td>
      <td>
        {{ project.this_country_pct }}
      </td>
      <td>
        {{ project.status.text }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
