{% set active_page='index' %}{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<br />

<h1>{{ _("Countries") }}</h1>
<table class="table">
  <thead>
    <th>{{ _("Country") }}</th>
    <th>{{ _("Number of projects") }}</th>
    <th>{{ _("Spreadsheet") }}</th>
  </thead>
  <tbody>
    {% for country in countries %}
    <tr>
      <td>
        <a href="{{url_for('country_home', country_code=country.RecipientCountry.code)}}">
        {{country.RecipientCountry.text}}
        </a>
      </td>
      <td>{{country.num_activities}}</td>
      <td>{% if country.num_activities > 0 %}
        <a href="{{url_for('activity_export', country_code=country.code)}}" class="btn btn-success btn-sm">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        {{ _("Download spreadsheet") }}
        </a>
      {% else %}
        <a href="" class="btn btn-default btn-sm" disabled>
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        {{ _("No data available") }}
        </a>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
