{% set active_page='index' %}{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<br />
<h1>Projects</h1>
<table class="table">
  <thead>
    <th>Title</th>
    <th>Sectors</th>
    <th>Status</th>
    <th>Aid Type</th>
    <th>Organisations</th>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td><a href="{{url_for('activities', iati_identifier=project.iati_identifier)}}">{% for title in project.titles %}{{title.text}}<br />{% endfor %}</a></td>
      <td>
        {% for sector in project.sectors %}
        <p><span class="label label-default">{{sector.dacsector.description}}</span> <br />
        {% if sector.dacsector.cc.id != "0" %}
        <span class="label label-success">{{sector.dacsector.cc.sector}} &ndash; {{sector.dacsector.cc.function}} ({{sector.dacsector.cc.id}})</span>
        {% else %}
        <span class="label label-danger">Not mappable</span>
        {% endif %}
        </p>
        {%endfor%}
      </td>
      <td>
        {{ project.status.text }}
      </td>
      <td>
        {{ project.aid_type.text }}
      </td>
      <td>
        {% for org in project.participating_orgs %}
        {{org.organisation.name}} ({{org.role}})<br />
        {%endfor%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
