{% set active_page='project' %}{% extends "layout.html" %}
{% block title %}{{ _('Project') }} {{activity.title}}{% endblock %}
{% block content %}
<br />

{% for title in activity.titles %}
<h2>{{title.text}} ({{title.lang}})</h2>
{% endfor %}
{% for description in activity.descriptions %}
<p>{{description.text}}</p>
{% endfor %}
<dl class="dl-horizontal">
  <dt>Numéro du projet</dt><dd><code>{{activity.iati_identifier}}</code></dd>
  <dt>Statut de l'activité</dt><dd>{{activity.status.code}} - {{activity.status.text}}</dd>
  <dt>Type d'aide</dt><dd>{{activity.aid_type.code}} - {{activity.aid_type.text}}</dd>
</dl>

<h2>Organisations</h2>
<dl class="dl-horizontal">
  {% for org in activity.participating_orgs %}
  <dt>{{org.role}}</dt><dd>{{org.organisation.name}}</dd>
  {%endfor%}
</dl>

<div class="modal" id="addSectorsModal" tabindex="-1" role="dialog" aria-labelledby="addSectorsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Sector</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="sector" class="col-sm-2 control-label">Sector</label>
            <div class="col-sm-10">
              <select class="form-control" id="sector-selector" name="sector">
                <option>Select one...</option>
                {% for sector in sectors %}
                <option value="{{ sector.code }}" class="sector-option-{{sector.id}}">{{ sector.code }} {{ sector.description }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="sector-percentage" class="col-sm-2 control-label">Percentage</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="sector-percentage" placeholder="Percentage">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sector-add">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h2>Chiffres clés</h2>

<h3>Classification 
    {% if country.budgettype %}{{ country.budgettype.text }}
    {% else %}Administrative/Fonctionnelle{% endif %}
</h3>
<dl class="dl-horizontal">
  <dt>{{ _("Before")}} </dt><dd>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{activity.pct_mappable_before}}%;">
        <span><b>{{activity.pct_mappable_before}}% Mappable</b></span>
      </div>
    </div>
  </dd>
  <dt>{{ _("After")}} </dt><dd>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{activity.pct_mappable_after}}%;">
        <span><b>{{activity.pct_mappable_after}}% Mappable</b></span>
      </div>
    </div></dd>
</dl>
<h3>{{ _("Economic classification") }}</h3>
<dl class="dl-horizontal">
  <dt>{{ _("Before")}} </dt><dd>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0.0}%;">
        <span><b>0.0%</b></span>
      </div>
    </div>
  </dd>
  <dt>{{ _("After")}} </dt><dd>
    <div class="progress">
      {% if activity.capital_exp is not none %}
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{activity.capital_exp*100}}%;">
        <span><b>{{activity.capital_exp*100}}% Capital</b></span>
      </div>
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{100-(activity.capital_exp*100)}}%;">
        <span><b>{{100-(activity.capital_exp*100)}}% Current</b></span>
      </div>
      {% endif %}
    </div></dd>
</dl>
<!--
<div class="pull-right">
  <a class="btn btn-success btn-lg" data-toggle="modal" data-target="#addSectorsModal" href="#addSectorsModal">
    <b>Add sector</b>
  </a>
</div>
-->
<div class="row">
  <div class="col-md-6">
    <h2>{{ _("Disbursements by fiscal year")}} </h2>

    <table class="table" id="sectors">
      <thead>
        <th>{{ _("Fiscal year") }}</th>
        <th>{{ _("Value") }}</th>
      </thead>
      <tbody>
    {% for k, FY in activity.FY_disbursements.items() %}
        <tr>
          <td>{{ FY.fiscal_year }}</td>
          <td>{{ FY.value }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h2>{{ _("Commitments by fiscal year")}} </h2>
    <table class="table" id="sectors">
      <thead>
        <th>{{ _("Fiscal year") }}</th>
        <th>{{ _("Value") }}</th>
      </thead>
      <tbody>
    {% for k, FY in activity.FY_commitments.items() %}
        <tr>
          <td>{{ FY.fiscal_year }}</td>
          <td>{{ FY.value }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h2></h2>
<table class="table" id="sectors">
  <thead>
    <th>{{ _("CRS code") }}</th>
    <th>%</th>
    <th>{{ _("Common Code") }}</th>
    <th>{{ _("Budget classification (upper)") }}</th>
    <th>{{ _("Budget classification (lower)") }}</th>
    <!--<th></th>-->
  </thead>
  <tbody>
    {% for sector in activity.sectors %}
    <tr id="sector-{{sector.dacsector.code}}"{% if sector.deleted %} class="sector-deleted"{% endif %}>
      <td width="15%">
        {% if not sector.assumed %}
        {{sector.dacsector.description}}
        ({{sector.dacsector.code}})
        {% else %}
        <p class="text-muted">
        {{sector.formersector.description}}
        ({{sector.formersector.code}})
        </p>
        {% endif %}
        {% if sector.edited %}<span class="label label-warning"><span class="glyphicon glyphicon-asterisk white" 
          title="Sector was manually added"></span> <b>Amended: previously not mappable</b></span>{% endif %}
      </td>
      <td width="8%">
        {{ sector.percentage }}
      </td>
      <td width="24%">
        {% if sector.dacsector.cc.id != "0" %}
        {{sector.dacsector.cc.sector}} &ndash; {{sector.dacsector.cc.function}} ({{sector.dacsector.cc.id}})
        {% else %}
        <span class="label label-danger">Not mappable</span>
        {% endif %}
      </td>
      <td width="24%">
        {% for budget in sector.dacsector.cc.cc_budgetcode %}
            {% if activity.recipient_country_code == budget.budgetcode.country_code %}
            {{ budget.budgetcode.name }} ({{budget.budgetcode.code}})
            {% endif %}
        {% endfor %}
      </td>
      <td width="24%">
        {% for budget in sector.dacsector.cc.cc_lowerbudgetcode %}
            {% if activity.recipient_country_code == budget.lowerbudgetcode.country_code %}
            {{ budget.lowerbudgetcode.name }} ({{budget.lowerbudgetcode.code}})
            {% endif %}
        {% endfor %}
      </td>
      <!--
      <td width="3%">{% if not sector.deleted %}
          <a href="" data-confirm="Are you sure you want to delete this sector?" data-sector-code="{{sector.dacsector.code}}" class="delete-sector"><span class="glyphicon glyphicon-trash"></span></a>
          {% else %}
          <a href="" data-confirm="Are you sure you want to restore this sector?" data-sector-code="{{sector.dacsector.code}}" class="restore-sector"><span class="glyphicon glyphicon-repeat"></span></a>
          {% endif %}
      </td>
      -->
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
$(document).ready(function(){
  $(".btn-sector-add").click(function(e){
    e.preventDefault();
    var sector_code = $("#sector-selector").val();
    var sector_percentage = $("#sector-percentage").val();
    var sectorsdata = {
      'sector_code': sector_code,
      'percentage': sector_percentage,
      'iati_identifier': '{{activity.iati_identifier}}'
    }
    $.post('addsector/', sectorsdata, function(resultdata) {

    if (!(resultdata['error'])) {
      var sector_name=resultdata["description"];
      var sector_cc_sector = resultdata["cc"]["sector"];
      var sector_cc_function = resultdata["cc"]["function"];
      var sector_cc_id = resultdata["cc"]["id"];
      $("#sectors tbody").append('<tr id="sector-' + sector_code + '"><td><input type="hidden" name="permission" value="' + sector_code + '" /><input type="hidden" name="name' + sector_code + '" value="' + sector_name + '" /><span class="label label-default">' + sector_name + ' ('+sector_code+')</span></td><td>'+sector_percentage+'</td><td><span class="label label-success">' + sector_cc_sector + ' &ndash; ' + sector_cc_function + ' (' + sector_cc_id + ')</span></td><td><a href="" data-confirm="Are you sure you want to delete this sector?" data-sector-code="' + sector_code + '" class="delete-sector"><span class="glyphicon glyphicon-trash"></span></a></td></tr>');
      $("#addSectorsModal").modal('hide');
    } else {
      alert("Couldn't add that sector. Maybe you're not authorised, or maybe that sector already exists?");
    }
    });
  });
});
$(document).on("click", "a.delete-sector", function(ev) {
    var href = $(this).attr('href');
    if (!$('#dataConfirmModal').length) {
        $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h4 id="dataConfirmLabel" class="data-modal-title">Please Confirm</h4></div><div class="modal-body"></div><div class="modal-footer"><button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div></div></div>');
    } 
    $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
    $('#dataConfirmOK').attr('data-sector-code', $(this).attr(
        'data-sector-code')).addClass('deletesector');
    $('#dataConfirmModal').modal({show:true});
    return false;
});
$(document).on("click", ".deletesector", function(e){
    $("#dataConfirmModal").modal('hide');
    e.preventDefault();
    var sector_code = $(this).attr('data-sector-code');

    delete_sector_data = {
        'sector_code': sector_code
    }
    $.post('deletesector/', delete_sector_data, function(resultdata) {
        if (resultdata['success']=='deleted') {
          $("#sector-"+sector_code).addClass('error'
            ).fadeOut().promise().done(function(){
              $("#sector-"+sector_code).remove();
            });
        } else if (resultdata['success'] == 'marked as deleted') {
          $("#sector-"+sector_code).addClass("sector-deleted");
          $("#sector-"+sector_code+" .delete-sector span").removeClass("glyphicon-trash").addClass("glyphicon-repeat");
          $("#sector-"+sector_code+" .delete-sector").removeClass("delete-sector").addClass("restore-sector").attr("data-confirm", "Are you sure you want to restore this sector?");
        } else {
            alert("Couldn't delete that sector.");
        }
    });
});
$(document).on("click", ".restore-sector", function(e){
    e.preventDefault();
    var sector_code = $(this).attr('data-sector-code');

    restore_sector_data = {
        'sector_code': sector_code
    }
    $.post('restoresector/', restore_sector_data, function(resultdata) {
        if (resultdata['success']) {
          $("#sector-"+sector_code).removeClass('sector-deleted');
          $("#sector-"+sector_code+" .restore-sector span").removeClass("glyphicon-repeat").addClass("glyphicon-trash");
          $("#sector-"+sector_code+" .restore-sector").removeClass("restore-sector").addClass("delete-sector").attr("data-confirm", "Are you sure you want to delete this sector?");
        } else {
            alert("Couldn't restore that sector.");
        }
    });
});
</script>
{% endblock %}
