{% set active_page='project' %}{% extends "layout.html" %}
{% block title %}{{ _('Project') }} {{activity.title}}{% endblock %}
{% block content %}
<br />

{% for title in activity.titles %}
<h2>{{title.text}}</h2>
{% endfor %}
{% for description in activity.descriptions %}
<p>{{description.text}}</p>
{% endfor %}
<dl class="dl-horizontal">
  <dt>{{ _("Project ID") }}</dt>
  <dd><code>{{activity.iati_identifier}}</code></dd>
  <dt>{{ _("Activity status") }}</dt>
  <dd>{{activity.status.code}} - {{activity.status.text}}</dd>
  <dt>{{ _("Aid type") }}</dt>
  <dd>{{activity.aid_type.code}} - {{activity.aid_type.text}}</dd>
  <dt>% to {{ country.text }}</dt>
  <dd>{{activity.country_pcts[country.code]}}</dd>
</dl>

<h2>Organisations</h2>
<dl class="dl-horizontal">
  {% for org in activity.participating_orgs %}
  <dt>{{org.role}}</dt><dd>{{org.organisation.name}}</dd>
  {%endfor%}
</dl>

<div class="modal" id="addSectorsModal" tabindex="-1" role="dialog" aria-labelledby="addSectorsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Sector</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="sector" class="col-sm-2 control-label">Sector</label>
            <div class="col-sm-10">
              <select class="form-control" id="sector-selector" name="sector">
                <option>Select one...</option>
                {% for sector in sectors %}
                <option value="{{ sector.code }}" class="sector-option-{{sector.id}}">{{ sector.code }} {{ sector.description }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="sector-percentage" class="col-sm-2 control-label">Percentage</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="sector-percentage" placeholder="Percentage">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sector-add">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--
<div class="pull-right">
  <a class="btn btn-success btn-lg" data-toggle="modal" data-target="#addSectorsModal" href="#addSectorsModal">
    <b>Add sector</b>
  </a>
</div>
-->
<div class="row">
  <div class="col-md-4">
    <h2>{{ _("Disbursements by fiscal year, quarter")}} </h2>

    <table class="table" id="sectors">
      <thead>
        <th>{{ _("Fiscal year") }}</th>
        <th>{{ _("Fiscal quarter") }}</th>
        <th>{{ _("Value (USD)") }}</th>
        <th>{{ country.text }} {{ _("Value (USD)") }}</th>
      </thead>
      <tbody>
    {% for FY in activity.FY_disbursements(country) %}
        <tr>
          <td>{{ FY.fiscal_year }}</td>
          <td>{{ FY.fiscal_quarter }}</td>
          <td>{{ FY.value }}</td>
          <td>{{ FY.value_country }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h2>{{ _("Commitments by fiscal year, quarter")}} </h2>
    <table class="table" id="sectors">
      <thead>
        <th>{{ _("Fiscal year") }}</th>
        <th>{{ _("Fiscal quarter") }}</th>
        <th>{{ _("Value (USD)") }}</th>
        <th>{{ country.text }} {{ _("Value (USD)") }}</th>
      </thead>
      <tbody>
    {% for FY in activity.FY_commitments(country) %}
        <tr>
          <td>{{ FY.fiscal_year }}</td>
          <td>{{ FY.fiscal_quarter }}</td>
          <td>{{ FY.value }}</td>
          <td>{{ FY.value_country }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <h2>{{ _("MTEF projections by fiscal year")}} </h2>
    <table class="table" id="sectors">
      <thead>
        <th>{{ _("Fiscal year") }}</th>
        <th>{{ _("Value (USD)") }}</th>
        <th>{{ country.text }} {{ _("Value (USD)") }}</th>
      </thead>
      <tbody>
    {% for FY in activity.FY_forward_spend(country) %}
        <tr>
          <td>{{ FY.fiscal_year }}</td>
          <td>{{ FY.value }}</td>
          <td>{{ FY.value_country }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<h2></h2>
<table class="table" id="sectors">
  <thead>
    <th>{{ _("CRS code") }}</th>
    <th>%</th>
  </thead>
  <tbody>
    {% for sector in activity.sectors %}
    <tr id="sector-{{sector.dacsector.code}}"{% if sector.deleted %} class="sector-deleted"{% endif %}>
      <td>
        {{sector.dacsector.description}}
        ({{sector.dacsector.code}})
      </td>
      <td>
        {{ sector.percentage }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
