@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import "http://fonts.googleapis.com/css?family=Open+Sans:300";

body {
    background: url("img/background.png") repeat fixed left top #d1dce8;
    font-family: "Open Sans";
    font-size:16px;
}

.navbar-fixed-top {
    min-width: 700px;
    overflow:none;
}
.pct:after
{
content:"%";
} 
table .header{cursor:pointer;}table .header:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .blue{color:#049cdb;border-bottom-color:#049cdb;}
table .headerSortUp.blue,table .headerSortDown.blue{background-color:#ade6fe;}
table .green{color:#46a546;border-bottom-color:#46a546;}
table .headerSortUp.green,table .headerSortDown.green{background-color:#cdeacd;}
table .red{color:#9d261d;border-bottom-color:#9d261d;}
table .headerSortUp.red,table .headerSortDown.red{background-color:#f4c8c5;}
table .yellow{color:#ffc40d;border-bottom-color:#ffc40d;}
table .headerSortUp.yellow,table .headerSortDown.yellow{background-color:#fff6d9;}
table .orange{color:#f89406;border-bottom-color:#f89406;}
table .headerSortUp.orange,table .headerSortDown.orange{background-color:#fee9cc;}
table .purple{color:#7a43b6;border-bottom-color:#7a43b6;}
table .headerSortUp.purple,table .headerSortDown.purple{background-color:#e2d5f0;}

footer {
    border-top: 1px solid #E5E5E5;
    padding: 30px 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#CC000000",endColorStr="#CC000000");
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#CC000000",endColorStr="#CC000000");
    color:#ffffff;
}
footer a, footer a:hover {
    color:#ffffff;
}

h1, h2, h3, .brand, .navbar-country .navbar-brand {
    font-family: "Yanone Kaffeesatz",sans-serif;
    text-shadow: 1px 1px 0 #ffffff, 2px 2px 0 #ffffff, 3px 3px 0 #ffffff, 4px 4px 0 #ffffff;
}
h1 {
    font-size: 5.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.7em;
}
/* HEADER */
.navbar {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#7FFFFFFF",endColorStr="#7FFFFFFF");
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#7FFFFFFF",endColorStr="#7FFFFFFF");
    color:#ffffff;
    margin-bottom:0px;
}
.body-container {
    background-color: #ffffff;
    min-height:500px;
    padding-left:40px;
    padding-right:40px;
}
.header-container {
    padding-left:40px;
    padding-right:40px;
}
a {
    -webkit-transition: all .2s ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: initial;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navbar a {
    color:#000000;
}
.navbar a.brand {
    font-size:48px;
}
.navbar a:hover {
    color:#365e93;
    text-decoration:none;
}
.align-right {
    float:right;
}
option {
    color: #000000;
}
option.sector-option-0 {
    color: #666666;
    text-decoration: line-through;
}
.yellow {
    color: yellow;
}
.sector-deleted {
    text-decoration: line-through;
    background-color:#eeeeee;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.sector-deleted {
    display: none;
}
.header-country-name, nav a.navbar-brand {
    font-size:0.5em;
    font-style:italic;
}
a .header-country-name  {
    color: #333333;
}
th.sectors-column, td.sectors-column {
    max-width: 300px;
    overflow: hidden;
}
th.titles-column, td.titles-column {
    max-width:240px;
}
.sectors-column span.label {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 290px;
    margin-bottom:4px;
}
.navbar-country {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#7FFFFFFF",endColorStr="#7FFFFFFF");
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#7FFFFFFF",endColorStr="#7FFFFFFF");
    color:#000000;
    border-radius: 0px;
    padding-left: 20px;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
}
.navbar-country .navbar-brand {
    font-size:2em;
}
nav.navbar-country li.active > a,
nav.navbar-country li.active > a:hover,
nav.navbar-country li.active > a:focus {
    background-color: #eee;
    text-decoration: none;
    color:#365e93;
}

svg {
	width: 100%;
	height: 100%;
}
.budget-chart {
    height:500px;
}
#budgetselected {
    min-height:50px;
    font-size:2em;
}
.budget-area {
    width:100%;
    height:500px;
}
.budget-chartbox {
    width:500px;
    height:100%;
}
.budget-infobox {
    width:500px;
    margin-top:30px;
}
.budgetbefore-dt, .budgetafter-dt {
    visibility: hidden;
}
.tab-content {
    margin-top:15px;
}
